body{
	background-color: #EBEBEB;
}

.container-main {
	margin-top: 25px;
	background-color: gray;
	color: white;
}

.container-draw {
	margin: 0 auto;
	width: 1000px;
}

/*
canvas {
	background-color: white;
}
*/

.toolbar{
	background-color: blue;
}

#bottomBtn{
    margin-top: 6px;
}

#strokeColor{
    width: 60px;
    height: 35px;
    margin-bottom: 5px;
}

#fillColor{
    width: 60px;
    height: 35px;
    margin-bottom: 5px;
}

#label{
    width: 85px;
}

.dropdown-menu{
    cursor: pointer;
}

#undoContainer{
    width: 60px;
    padding-right: 0px;
}

#redoContainer{
    padding-left: 0px;
}

#loadButton{
    cursor: pointer;
}
#saveButton{
    cursor: pointer;
}

.list-group{
    cursor: pointer;
}

.container-canvas{
	background-color: white;

    box-shadow: 0px 10px 100px #000000;
}

#canvas{

	z-index:	0;
}

#shadowCanvas{
	position:	absolute;
	z-index:	1;
}

.save-menu{
	position: fixed;
	top: 150px;
	right: 0px;
	
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	
    box-shadow: 0px 0px 100px #000000;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
	background-color: gray;
    
    /* Chrome, Safari, Opera */
    -webkit-animation: slidein 1s;
    animation: slidein 1s;
}

.load-menu{
	position: fixed;
	top: 150px;
	right: 0px;
	
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	
    box-shadow: 0px 0px 100px #000000;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
	background-color: gray;
    
    /* Chrome, Safari, Opera */
    -webkit-animation: slidein 1s;
    animation: slidein 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slidein {
    from {right:-250px;}
    to {right: 0px;}
}

/* Standard syntax */
@keyframes slidein {
    from {right:-250px;}
    to {right: 0px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slideout {
    from {right: 0px;}
    to {right: -250px;}
}

/* Standard syntax */
@keyframes slideout {
    from {right: 0px;}
    to {right: -250px;}
}